body {
    background-color: lightblue;
}

h1, h3 {
    color: red;
    text-decoration:underline ;
    font-family:cursive;
    text-align: center;
}

p {
    text-align: center;
}

img {
    width: 400px;
    height: 300px;
    display: block;
    margin: auto;
    border-color: crimson;
    border-radius: 50px;
    border-style: double;
    border-width: 5px;
}

aside, footer {
    text-align: center;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}